@tailwind base;
@tailwind components;
@tailwind utilities;


.heading{
  font-family: var(--font-bebas-neue), sans-serif;

}

.source{
  font-family: var(--font-source-sans-3), sans-serif;

}

.detail{
  font-family: var(--font-roboto), sans-serif;

}
.card-btn{
    background-image: linear-gradient(
      90deg,
      hsl(202deg 66% 38%) 0%,
      hsl(202deg 66% 38%) 8%,
      hsl(202deg 66% 38%) 15%,
      hsl(202deg 65% 37%) 22%,
      hsl(202deg 65% 37%) 29%,
      hsl(202deg 65% 37%) 36%,
      hsl(202deg 65% 37%) 44%,
      hsl(203deg 65% 37%) 53%,
      hsl(203deg 65% 37%) 63%,
      hsl(203deg 65% 37%) 74%,
      hsl(203deg 64% 36%) 86%,
      hsl(203deg 64% 36%) 100%
    );
  
}
  :hover.card-btn{
   
    border-radius: 99px;
    border: 1px solid #FFF;
    background: conic-gradient(from 181deg at 50% 50%, rgba(0, 0, 0, 0.00) 172.66420125961304deg, rgba(242, 85, 37, 0.30) 281.25deg, rgba(211, 55, 7, 0.12) 360deg), rgba(242, 85, 37, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  }

.img{
background: radial-gradient(50% 50% at 50% 50%, rgba(2, 131, 197, 0.78) 1%, rgba(0, 0, 0, 0) 100%);
background-blend-mode: screen;

}
.card{
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: conic-gradient(from 181deg at 50% 50%, rgba(0, 0, 0, 0.00) 172.66420125961304deg, rgba(13, 49, 71, 0.30) 281.25deg, rgba(2, 131, 197, 0.30) 360deg), #3094CF;
  box-shadow: 0px 4px 4.8px 5px rgba(0, 0, 0, 0.28);}

.carousel-card{
  background: linear-gradient(0deg, #3094CF, #3094CF),
conic-gradient(from 181.06deg at 50% 50%, #0283C5 0deg, rgba(0, 0, 0, 0) 172.66deg, #0D3147 281.25deg, #0283C5 360deg);

}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-700px * 3 - 2rem * 3));
    }
  }
  
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  /* Add hover pause functionality */
  .animate-marquee:hover {
    animation-play-state: paused;
  }

  .marqueecard{
    /* box-shadow: 0 4px 10px rgba(2, 131, 197, 0.92); */
    filter: drop-shadow(0 4px 10px rgba(2, 131, 197, 0.92));
    background: rgb(2,131,197);
background: linear-gradient(340deg, rgb(2, 78, 116) 1%, rgba(0,42,66,1) 46%);


  }

  .footer {
    height: 98%;
    width: 100%;
    clip-path: ellipse(65% 100% at 50% 0%);
  }
  .wrapper {
    clip-path: ellipse(65% 100% at 50% 0%);
    background-image: linear-gradient(
      90deg,
      hsl(14deg 89% 55%) 0%,
      hsl(15deg 75% 61%) 8%,
      hsl(16deg 62% 67%) 17%,
      hsl(17deg 47% 73%) 25%,
      hsl(18deg 34% 79%) 33%,
      hsl(20deg 20% 85%) 42%,
      hsl(20deg 7% 92%) 50%,
      hsl(20deg 22% 81%) 58%,
      hsl(18deg 38% 71%) 67%,
      hsl(17deg 54% 61%) 75%,
      hsl(16deg 69% 51%) 83%,
      hsl(15deg 85% 41%) 92%,
      hsl(14deg 100% 31%) 100%
    );

  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .footer {
      height: 98%;

      clip-path: ellipse(100% 100% at 50% 0%);
    }
  
    .wrapper {
      clip-path: ellipse(100% 100% at 50% 0%);
    }

    .carousel-card {
      background: linear-gradient(91deg, rgba(4,38,57,1) 0%, rgba(48,147,206,1) 48%);
      padding: 1rem;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-280px * 3 - 1rem * 3));
      }
    }
  
    .animate-marquee {
      animation: marquee 15s linear infinite;
    }

    /* Add hover pause functionality */
    .animate-marquee:hover {
      animation-play-state: paused;
    }
  
    .marqueecard {
      filter: drop-shadow(0 2px 5px rgba(2, 131, 197, 0.92));
    }


  }

  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: inherit;
  }

  /* Circle Arrow Positioning */
.circle-arrow {
  bottom: 36vh; /* equivalent to bottom-64 */
}

@media (min-width: 768px) {
  .circle-arrow {
    bottom: 29vh; /* equivalent to md:bottom-44 */
  }
}

@media (min-width: 1280px) {
  .circle-arrow {
    bottom: 10rem; /* equivalent to xl:bottom-40 */
  }
}

@media (min-width: 1920px) {
  .circle-arrow {
    bottom: 15rem;
  }
}
@media (min-width: 390px) {
  .img1 {
    bottom: 34vh !important;
  }
}
@media (min-width: 400px) {
  .img1 {
    bottom: 40vh !important;
  }
}

